.panel{
    height: 100%;
    width: 100%;
}

.nav{
    height:50px;
    float:left;
    width:100%;
    text-align: right;
    margin-right: 10px;
}
.yuvarlak{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a{
    margin-right: 10px;
    text-decoration: none;
    color:black;
}

.clear{
    clear:both;
}

.space{
    height:120px;
    width: 100%;
}

input{
    width:500px;
    height: 40px;
    border-radius: 10px;
    
}
 b{
    margin-top: 5px;
 }

 svg{
    height: 50px;
 }
 
.buton{
    margin-top: 10px;
    width: 250px;
    height: 36px;
    background-color: white;
}