body {
    margin: 0px auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 12px 30px;
}

.yuvarlak{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    object-fit: cover;

}

a>img:hover {
    opacity: 0.8;
}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.706);
    font-size: 13px;
}
a:hover{
    text-decoration: underline;
}

.logo {
    margin: 108px auto 30px;
    text-align: center;
}

.arama {
    width: 580px;
    margin: 0px auto;
    position: relative;
    margin-top: -8px;
    text-align: center;

    .s-input{
        display: block;
        border: 1px solid #ddd;
        color: rgba(0,0,0,0.87);
        font-size: 16px;
        padding: 13px;
        padding-left: 45px;
        border-radius: 25px;
        width: 100%;
        outline: none;
    }
    .s-input:hover {
        box-shadow: 1px 1px 4px rgba(198, 197, 197, 0.929);
    }
    .search-icon {
        width: 20px;
        opacity: 0.4;
        position: absolute;
        top: 13px;
        left: 14px;
    }
    .vs-icon {
        width: 18px;
        position: absolute;
        top: 13px;
        right: -35px;
    }
    .vs-icon:hover {
        opacity: 0.8;
    }
}

.googlesearch {
    margin: 25px 4px;
    padding: 0 16px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    cursor: pointer;
    user-select: none;
    border: 5px solid #f2f2f2;
    color: #5f6368;
    font-size: 14px;
}
.googlesearch:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.feelinglucky {
    margin: 25px 4px;
    padding: 0 16px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    cursor: pointer;
    user-select: none;
    border: 5px solid #f2f2f2;
    color: #5f6368;
    font-size: 14px; 
}
.feelinglucky:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.buttons {
    text-align: center;    
}

footer {
    background-color: #f2f2f2;
    color: rgba(0, 0, 0, 0.604);
    font-size: 30px;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0px;
    display: flex;
    border: 1px solid #eee;
}
.footer1 {
    padding-left: 18px;
    flex: 1;
}
.footer2 {
    padding-right: 18px;
    padding-top: 13px;
}